{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'app.ico' %}">
    {% block dependencies %}
    {% endblock %}
</head>
<body>
    <div class="container">
        <div class="content">
            <a href="/"><header class="page-header">{% block header %}{% endblock %}</header></a>
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <script>
        {% block scripts %}
        {% endblock %}
    </script>
</body>
</html>