{% load static %}
<form class="patient-form" method="post" autocomplete="off">
    {% csrf_token %}
    <div class="data-row">
        <label>Фамилия *</label>
        {{ form.last_name }}
    </div>
    <div class="data-row">
        <label>Имя *</label>
        {{ form.first_name }}
    </div>
    <div class="data-row">
        <label>Отчество</label>
        {{ form.middle_name }}
    </div>
    <div class="data-row">
        <label>Электронная почта</label>
        {{ form.email }}
    </div>
    <div class="data-row">
        <label>Номер телефона *</label>
        {{ form.phone }}
    </div>
    <div class="data-row">
        <label>Адрес проживания *</label>
        {{ form.address }}
    </div>
    <div class="data-row">
        <label>Дата рождения *</label>
        {{ form.birth_date }}
    </div>
    <p>* обозначены обязательные поля</p>
    {% include "general/action-buttons.html" %}
</form>


<!--
<form class="patient-form" method="post">
    {% csrf_token %}
    <div class="data-row">
        <label>Фамилия *</label>
        <input type="text" id="lastname" placeholder="Иванов"
               required pattern="^[а-яА-ЯёЁa-zA-Z]+[\s\-]?$" minlength="2" maxlength="50" />
    </div>
    <div class="data-row">
        <label>Имя *</label>
        <input type="text" id="name" placeholder="Иван"
               required pattern="^[а-яА-ЯёЁa-zA-Z]+$" maxlength="50" />
    </div>
    <div class="data-row">
        <label>Отчество</label>
        <input type="text" id="middlename" placeholder="Иванович"
               pattern="^[а-яА-ЯёЁa-zA-Z]+$" minlength="2" maxlength="50" />
    </div>
    <div class="data-row">
        <label>Электронная почта</label>
        <input type="email" id="email" placeholder="example@eg.com"
        maxlength="254"/>
    </div>
    <div class="data-row">
        <label>Номер телефона *</label>
        <input type="text" id="phone" placeholder="+7(123) 456-78-90"
               required pattern="^[\w\.-]+@[\w\.-]+\.\w+$" minlength="11" maxlength="15"/>
    </div>
    <div class="data-row">
        <label>Адрес проживания *</label>
        <input type="text" id="address" placeholder="Город, улица, дом, квартира"
               required pattern="^[а-яА-ЯёЁa-zA-Z]+,\s?[а-яА-ЯёЁa-zA-Z]+\s?\w*,\s?\d+[а-яА-Яa-zA-Z]?,\s?\d+$"
               minlength="12" maxlength="254"/>
    </div>
    <div class="data-row">
        <label>Дата рождения *</label>
        <input type="date" id="birthdate"
               required min="1900-01-01" />
    </div>
    <p>* обозначены обязательные поля</p>
    {% include "general/action-buttons.html" %}
</form>
-->