.patient-list {
    display: block;
    width: 70%;
    height: 30%;
    margin: auto;
    border: 2px solid;
    border-radius: 25px
}

.patient-info {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgb(225, 225, 225);
    align-items: center;
    padding: 10px 5px;
    margin: 15px;
    color: #666;
}

.patient-info > span {
    flex: 1;
    font-size: 1.5rem;
    font-family: 'Georgia', sans-serif;
}

.patient-info:hover {
    background-color: rgb(150, 150, 150);
}

#patient-name:focus:valid, #patient-name:focus:invalid {
    background-color:rgba(0, 0, 0, 0);
}