{% extends 'general/layout.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block header %}{{ header }}{% endblock %}

{% block dependencies %}
    <link rel="stylesheet" href="{% static 'change/css/change.css' %}">
{% endblock %}

{% block content %}
    <form class="get-patient">
        <div class="data-row">
            <label>Введите имя пациента</label>
            <input type="text" id="patient-name" placeholder="Иванов Иван Иванович">
        </div>
    </form>
    {% for el in patients %}
    {% endfor %}
{% endblock %}