{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Изменить данные</title>
    <link rel="stylesheet" href="{% static 'general/css/general.css' %}">
    <link rel="stylesheet" href="{% static 'change/css/change.css' %}">
</head>
<body>
<div class="container">
    <div class="content">
    <header class="page-header">Изменение данных пациента</header>
    <form class="get-patient">
        // input field for name
        <div class="button-container">
        <button class="styled-button" style="background-color: #27ae60;">Подтвердить</button>
        <button class="styled-button" style="background-color: #FF4742;">Отменить</button>
        </div>
    </form>
    </div>
</div>
</body>
</html>